services:
  postgres:
    image: postgres:16-alpine
    container_name: ochqich-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ochqich
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ochqich-api
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/ochqich?schema=public
      JWT_SECRET: super-secret-change-me
      PORT: 3000
    ports:
      - "3000:3000"
    restart: unless-stopped

volumes:
  pgdata:
